@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format('woff2');
}

.app {
  @apply w-full min-h-screen flex flex-col;
}

/* =========================Login=========================== */
.login-container {
  @apply bg-no-repeat bg-cover min-h-full flex;
  background-image: url('/loginBg.svg');
}
.text-input {
  @apply bg-transparent border border-blue-500;
}
.text-input input {
  @apply bg-transparent text-white;
}
.text-input input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.554);
  opacity: 1; /* Firefox */
}

.text-input input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.554);
}

.text-input input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.554);
}
.login-main-container {
  @apply w-full min-h-full backdrop-blur-md flex flex-col lg:flex-row lg:justify-around justify-start items-center;
}
.intro-container {
  @apply lg:w-2/5 w-5/6 flex flex-col items-center justify-center mt-14 lg:mt-0;
}
.login-form-container {
  @apply w-full rounded-2xl p-10 shadow-md backdrop-blur-md lg:mt-0 mt-10;
  background-image: linear-gradient(
    to top right,
    rgba(17, 19, 21, 0.8),
    rgba(46, 46, 56, 0.8)
  );
}
