@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
    url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2)
      format('woff2');
}
* {
  font-family: Product Sans;
}
.app {
  @apply w-full min-h-screen flex flex-col;
}
.login-container {
  @apply bg-no-repeat bg-cover;
  background-image: url('/loginBg.svg');
}
.login-main-container {
  @apply w-full min-h-screen backdrop-blur-md flex justify-center items-center;
}
.login-form-container {
  @apply w-1/4 rounded-xl p-6 shadow-md backdrop-blur-md bg-slate-800 bg-opacity-60;
}
